embed-server  --server-config={{ target_config }}
/core-service=management/security-realm=ApplicationRealm/server-identity=ssl:write-attribute(name=enabled-protocols, value=["TLSv1.2"])
stop-embedded-server